@import url('https://fonts.googleapis.com/css2? family= Big+Shoulders+Display:wght@700 & family= Lexend+Deca &familia= Roboto:peso@700 & display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-image: radial-gradient(circle at center, #406ac4 0%, #3e66bb 6%, #1b263e 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-bottom: 20px;
    background-color: #1b263e;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: #406ac4;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.titulo {
    font-size: 3rem;
}

img.imagen {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    border-radius: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}

.logo:hover {
    transform: rotate(360deg);
    transition: transform 0.5s;
}

article.texto_principal p.texto {
    max-width: 951px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

p.texto_iconos{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: bold;
}

section.iconos {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

nav.link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: .5rem;
}

nav.link p {
    font-size: 2rem;
}

nav.link a {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

section.contacto {
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
}

section.contacto a {
    color: white;
    margin-left: 2rem;
}

footer {
    width: 100%;
    padding-top: .5rem;
    text-align: center;
    color: grey;
}
